* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    color: antiquewhite;
}

#introduction {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}